<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<img src="img/logo-bottom.png" alt="" class="img-responsive">
				<a href="tel:3142024444" class="footer-tel">
					314.202.4444
				</a>
			</div>
			<div class="col-lg-3">
				<ul class="footer-menu">
					<li class="footer-menu__item mb-3">
						<a href="#">
							Employment (Online Application)
						</a>
					</li>
					<li class="footer-menu__item">	
						<a href="#">
							About
						</a>
					</li>
					<li class="footer-menu__item">	
						<a href="#">
							The iTechshark Difference
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="#">
							Why iTechshark
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<ul class="footer-menu">
					<li class="footer-menu__item">
						<a href="#">
							Sell iPhone St. Louis
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="">
							Repair iPhone St. Louis
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="#">
							iPhone Screen Repair St. Louis
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="#">
							iPad Repair St. Louis
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="#">
							iPad Screen Repair St. Louis
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<ul class="footer-menu">
					<li class="footer-menu__item mb-3">
						<a href="#" class="text-uppercase">
							Store location
						</a>
					</li>
					<li class="footer-menu__item">	
						<a href="#">
							Ballwin, MO
						</a>
					</li>
					<li class="footer-menu__item">	
						<a href="#">
							Brentwood, MO
						</a>
					</li>
					<li class="footer-menu__item">
						<a href="#">
							Saint Charles, MO
						</a>
					</li>
				</ul>
				<div class="footer-social">
					<a href="#" class="footer-social__item">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#" class="footer-social__item">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>	
</footer>