<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Repair</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sell</a>
        </li>
        <li class="nav-item nav-item__separator">          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">314-202-4444</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>
      </ul>
    </div>
  </div>
</nav>