{% extends "layout.html" %}

{% block content %}
<section class="section section-itech">
	<div class="device-selection">
		<div class="container">
			<div class="device-selection__inner">
				<div class="device-selection__img">
					<img src="img/home-iphone.png" alt="">
				</div>
				<div class="device-selection__desc">
					<p class="text-uppercase">Device</p>
					<p class="device-selection__name">iPhone</p>
				</div>
				<a href="#" class="close">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="catalog-model">
			<h1 class="text-center">What <span class="blue">Condition</span> is your iPhone in?</h1>
			<div class="catalog-model__list">
				<div class="catalog-model__list-item">
					<p>Get up to $740.00</p>
					<a href="#" class="btn btn-catalog hvr-sweep-to-right">
						Used
					</a>
				</div>
				<div class="catalog-model__list-item">
					<p>Get up to $550.00</p>
					<a href="#" class="btn btn-catalog hvr-sweep-to-right">
						Damaged
					</a>
				</div>
				<div class="catalog-model__list-item">
					<p>Get up to $900.00</p>
					<a href="#" class="btn btn-catalog hvr-sweep-to-right">
						New
					</a>
				</div>
			</div>
		</div>
		<div class="img-bottom__wrapper">
			<img src="img/sellshark.png" alt="">
		</div>
	</div>
</section>
{% endblock %}