.section-itech{
	padding-top: 80px;
	position: relative;
	.img-bottom__wrapper{
        margin-top: 150px;
        text-align: right;
	}
	.device-selection{
		background: #e8e8e8;
		padding: 10px 0;
		border-top: 2px solid #58cd70;
		&__inner{
		    display: flex;
    		align-items: flex-start;
		}
		&__img{
		    margin-right: 11px;
		    img{
		    	width: 32px;
		    }
		}
		&__desc{
			.text-uppercase{
			    margin-bottom: 2px;
			    font-size: 12px;
			}
		}
		&__name{
			margin-bottom: 0;
		}
		.close{
			color: red;
			font-size: 14px;
		    margin-left: 8px;
    		margin-top: 2px;
		}
	}
	.catalog-model{
		padding-top: 50px;
		h1{
		    font-weight: 400;
		    color: #5b6675;
		    font-size: 30px;
		}
		&__list{
			display: flex;
		    align-items: center;
		    justify-content: center;
		    margin-top: 50px;
		    &-item{
		    	p{
		    		font-size: 14px;
		    	}
		    	text-align: center;
		    	flex-basis: 20%;
		    	padding: 0 10px;
		    }
		}
	}
}