footer{
    background: #000;
    padding: 50px 0;
    .footer{
    	&-tel{
    		color: #fff;
    		margin-top: 20px;
    		font-size: 20px;
    		display: block;
    	}
    	&-menu{
    		list-style: none;
    		padding-left: 10px;
    		&__item a{
				color: #fff;
    		}
    	}
    	&-social{
    		&__item{
    			color: #fff;
    			font-size: 20px;
    			margin: 0 10px;
    		}
    	}
    }
}