.navbar{
	position: fixed;
	width: 100%;
	z-index: 9;
	padding: 18px 0;
	box-shadow: 1px -2px 10px 1px rgba(179, 179, 179, 0.75);
	.nav-item{
		.nav-link{
			padding: 7px 15px 0; 
		    color: rgba(0, 0, 0, 0.9);
		    font-size: 16px;
			&:after{
				content: "";
				width: 0;
				background: #000;
				height: 2px;
				display: block;
				margin-top: 8px;
				transition: all .3s ease;
			}
		}
		&:hover{
			.nav-link:after{
				width: 80%;
			}
		}
	}
	.nav-item__separator{
		padding-left: 0;
	    margin: 0 10px;
		border-right: 1px solid #ddd;
	}
}