@media (max-width: 1024px){
	.nav-item{
	    margin-top: 10px;
	}
	.nav-item > .nav-link{
		padding-top: 0 !important;
	}
}
@media (max-width: 992px){
	.navbar-nav{
	    margin-top: 20px;
	}
	.navbar-toggler{
		border: 0;
		&:focus{
			outline: 0;
		}
	}
	.footer-menu{
		padding-left: 0 !important;
		&:first-child{
			margin-top: 20px;
		}
	}
	.navbar .nav-item__separator{
		display: none;
	}
	.nav-item:hover{
		.nav-link:after{
			content: '';
			width: 0 !important;
		}
	}
}

@media (max-width: 640px){
	.catalog-model__list{
		flex-direction: column;
		padding: 0 80px;
		align-items: unset !important;
		&-item{
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 480px){
	.navbar > .container{
	    padding-right: 15px;
	    padding-left: 15px;
	}
}
@media (max-width: 376px){
	.catalog-model__list{
		padding: 0 50px;
	}
}
@media (max-width: 320px){
	.catalog-model__list{
		padding: 0;
	}
}