<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iTechshark</title>
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="shortcut icon" href="img/favicon/favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/app.css">

</head>
<body>
	{% include "partials/header.html" %}
	
	{% include "partials/preloader.html" %}

	{% block content %} {% endblock %}

	{% include "partials/footer.html" %}
	<script src="js/app.js"></script>
</body>
</html>